body {
    font-family: 'VT323', monospace;
    background-color: rgb(217, 224, 234);
    height: 100%;
    overflow: scroll;
}



#game-board {     
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #dbe3cd;
    /*border-radius: 100px;*/
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(20, minmax(20px, 1fr));
    /*padding-bottom: 15px;*/
    margin: auto;
    box-sizing: border-box;
}
.game-border-1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.game-border-1 {
    
    /* Adjust padding as needed to align with your design */
    border-radius: 25px;
    box-shadow: inset 0 0 0 15px #0a3005;
    padding: 1px; 
    border: 5px solid #053702;  
    box-sizing: border-box;
}

.game-border-2 {
    /* Adjust padding as needed to align with your design */
    width: 95%;
    height: 95%;
    border-radius: 30px;
    box-shadow: inset 0 0 0 15px #566d69;
    padding: 20px;
    border: 3px solid #696969; /* Example: Silver border */
    box-sizing: border-box;
    
}

#instruction-text {
    text-transform: capitalize;
}

#highScore {
    display: none;
}

.snake {
    background-color:#2E2F30;
    border:double 3px #000000;

}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; } 
  }
  
  .food {
      background-color:    hsl(0, 0%, 0%); /* Dark for the food */
      animation: blink 3s infinite; /* 1s for the duration, infinite for continuous animation */
      
  }
     
.snake-color-btn {
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
}

#copyright {
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}