{% extends "layout.html" %}

{% block title %}
     Register
{% endblock %}


{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/register" method="post" class="mt-4 border p-4">
                <h2 class="mb-4">Register</h2>
                <div class="mb-3">
                    <input name="username" type="text" class="form-control" autofocus autocomplete="off"
                        placeholder="Username">
                </div>
                <div class="mb-3">
                    <input name="snakename" type="text" class="form-control" autofocus autocomplete="off"
                        placeholder="Snake Name">
                </div>
                <div class="mb-3">
                    <input name="password" type="password" class="form-control" autofocus autocomplete="off"
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    <input name="confirmation" type="password" class="form-control" autofocus autocomplete="off"
                        placeholder="Confirm Password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
